html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}

/* @link https://utopia.fyi/type/calculator?c=800,25,1.2,7680,25,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(1.12rem, calc(1.23rem + -0.02vw), 1.22rem);
  --step--1: clamp(1.40rem, calc(1.47rem + -0.01vw), 1.46rem);
  --step-0: clamp(1.75rem, calc(1.75rem + 0.00vw), 1.75rem);
  --step-1: clamp(2.10rem, calc(2.08rem + 0.02vw), 2.19rem);
  --step-2: clamp(2.52rem, calc(2.48rem + 0.05vw), 2.73rem);
  --step-3: clamp(3.02rem, calc(2.94rem + 0.10vw), 3.42rem);
  --step-4: clamp(3.63rem, calc(3.50rem + 0.16vw), 4.27rem);
  --step-5: clamp(4.35rem, calc(4.16rem + 0.25vw), 5.34rem);
}


/* ------------
 Main Tags
------------- */

/* Regular variant */
@font-face {
    font-family: 'ubtunu';
    src: url('font/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Bold variant */
@font-face {
    font-family: 'ubuntu';
    src: url('font/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
	font-family: ubuntu, sans-serif;
	background: #fde3b3;
	color: #606160;
	padding: 148px 10em 1em 10em;
}

p {
	color: #834300;
	font-size: 13px;
	line-height:1.2em;
	margin-bottom: 10px;
	font-weight: normal;
}

h1,h2 {
	font-family: ubuntu, serif;
	font-weight:bold;
}

h1 {
	color: #F39519;
	font-size:20px;
	line-height:17px;
	margin: 5px 0 10px 0;
	font-weight: bold;
}

h2 {
	color: #f4a030;
	font-size:20px;
	line-height:17px;
	margin-bottom: 15px;
	font-weight: normal;
}

h3 {
	font-size: 14px;
}

ul {
	margin-bottom: 10px;
}

li {
	font-size: 13px;
	line-height:14px;
	color: #834300;
}

a:link		{ color: #725a42; text-decoration: none;}
a:visited	{ color: #725a42; text-decoration: none;}
a:hover		{ color: #725a42; filter: brightness(1.2); text-decoration: underline;}
a:active	{ color: #606160; filter: brightness(0.85); text-decoration: underline;}

a:active, a:focus {
	outline: 0;
}

/* --------------
   Website Header 
   -------------- */

.big-heading {
	font-size: var(--step-5);
	margin-top: 0.5em;
	margin-bottom: 0.6em;
	margin-left: 0.2em;
}
.big-subheading {
	font-size: var(--step-4);
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 0.3em; 
	color: #98886b;
}

/* -------------
   Clock Styling
   ------------- */

.clock-container {
    position: absolute;
    font-size: 3.0em;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.clock {
    padding: 5px;
    color: #F39519;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.globe-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    opacity: 70%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* ----------------
   Fixed/Float Tags
   ---------------- */
#profilePage {
	padding: 148px 1em 1em 22em;
	width: 500px;
}
 
div#header,
div#header2,
div.fixedWrapper {
	position: absolute;
	left: 0;
	overflow: auto;
}

div#header {
	top: 0;
	z-index: 30;
	width: 100%;
	height: 8.75em;
	background: #fde3b3;
	opacity: 70%;
	overflow: hidden;
}

div#header2 {
	top: 0;
	z-index: 10;
	width: 98%;
	height: 8.75em;
	overflow: hidden;
	opacity: 0.90;
	background: #fde3b3;
	opacity: 70%;
}

div.fixedWrapper {
	top: 148px;
	bottom: 0;
	width: 9em;
	margin: 0 0 0 13px;
}

#profilePage div.fixedWrapper {
	top: 148px;
	bottom: 0;
	width: 21em;
	margin: 0 0 0 13px;
}

@media screen {
	body>div#header,
	  body>div#header2,
	  body>div.fixedWrapper { position: fixed; }
	
	/* Ugly fix for page anchors */
	ol>li#dog3
	{
		margin-top: -4.1em;
		padding-top: 4.1em;
	}
}

#message {
	padding: 25px 0 0 0;
	text-align: right;
	font-size: 13px;
}

 
/* ------------
   Layout Tags
   ------------ */
 
.mainNav {
	margin-bottom: 18px;
	margin-top: 1em;
}

.mainNav li {
	color: #606160;
	font-family: ubuntu, sans-serif;
	font-size:var(--step--2);
	font-weight:bold;
	margin: 0.5vh 0 1.5vh 1vh;
}

.mainNav a:link		{ color: #725a42; text-decoration: none;}
.mainNav a:visited	{ color: #725a42; text-decoration: none;}
.mainNav a:hover	{ color: #F39519; text-decoration: underline; font-style: italic; font-size: 22px;}
.mainNav a:active	{ color: #725a42; text-decoration: none;}

.mainNav li .selected:link		{ color: #F39519; text-decoration: none; font-style: italic; font-size: 22px;}
.mainNav li .selected:visited	{ color: #F39519; text-decoration: none;}
.mainNav li .selected:hover	    { color: #F39519; text-decoration: none; font-style: italic;}
.mainNav li .selected:active	{ color: #F39519; text-decoration: none;}

#content {
	padding-bottom: 25px;
	margin-right: 1.5em;
	width: 76.38888888888889vw;
	max-width: 68.75em;
/*	margin-right: 10em;*/
}

.divide {
	margin-top: 16px;
}

.leftcol {
	float: left;
	width: 9em;
	/*border: 1px #ccc solid;*/
}

.rightcol {
	float: left;
	width: 11em;
}

.contact {
	color: #747474;
}

.work {
	overflow: hidden;
	margin-bottom: 45px;
	margin-top: 0.5em;
/*	width: 745px;*/
}

.work h1 {
	font-size:18px;
	line-height:17px;
	margin-bottom: 3px;
}

.work h2 {
	font-size:18px;
	line-height:17px;
	margin-bottom: 10px;
	font-weight: normal;
}

.work .secondary {
	color: #747474;
}

/* ----------------- */

.work {
/*	width:755px;*/
	/*float:left;*/
/*	position: relative;*/
	display: flex;
	align-content: center;
	flex-flow: row wrap;
	width: 76.38888888888889vw;
	max-width: 68.75em;
	margin-right: 10em;
	padding:15px;
	background: #ffefd2;
	border-radius: 2.5em;
}

.work .workContainer {
	width:37.84722222222222vw;
	height: 100%;
	float: left;
	margin-right:20px;
	overflow: hidden;
	border-radius: 2.5em;
	max-width: 37.5em;
	max-height: 37.5em;
	flex-grow: 2;
	flex-shrink: -2;
	flex-basis: 20em;
}

.work .workContainer ul {
	padding:0;
	margin:0;
	position:relative;
	list-style:none;
	width: 9999px;
	/*height: 360px;*/
}

.work .workContainer ul li {
	position:relative;
	/*height:360px;*/
	width:37.84722222222222vw;
	margin-right: 55px;
	float: left;
	display: inline;
}

.work .workContainer ul li img{
	position:relative;
	top:0;
	left:0;
	display: block;
}

.work .workText {
	float: right;
/*	width: 36.80555555555556vw;*/
}

.work .workText ul{
	padding:0;
	margin:0;
	list-style:none;
}

.work .workText ul li{
	padding:0;
	margin:0;
	float:left;
	text-align:center;
	padding-bottom:1px;
}

.work .workText ul li a{
	padding:2px 0px;
	text-decoration:none;
	font:var(--step--2); ubuntu, sans-serif;
	color:#909090;
	padding-right:10px;
}
.work .workText ul li a:hover{ color:#181b21; }

.work .workText .selected {
	color:#000;
}

#projectlist {
	padding:0;
	margin-left: 1em !important;
	list-style: disc;
	text-align: left;
	font-size: var(--step--2);
	line-height: normal;
}

#github_cat {
	display: flex;
	align-items:center;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

#github_logo{
	margin: 10px;
	height: 6.142506142506143vh;
	width: 3.4722222222222223vw;
}

.clear {
	height: 0;
	width: 0;
	line-height: 0;
	clear: both;
	font-size: 0;
}

#aboutMe{
	max-width: 37.5em;
	max-height: 37.5em;
	flex-grow: 2;
	flex-shrink: -2;
	flex-basis: 20em;
}

/* Gallery Styling */
/* --------------- */


#carousel {
	max-width:37.5em;
	max-height: 37.5em;
	flex-basis: 20em;
	border-radius: 25px;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

#usedInGallery{
	max-width: 37.25em;
	flex-basis: 30em;
}

#galleryH1{
	font-size: var(--step-0);
	font-weight: bold;
	line-height: normal;
}

#galleryH2{
	font-size: var(--step-0);
	font-weight: bold;
	line-height: normal;
}

#galleryText{
	font-size: var(--step--2);
}

/* Contact Form */
/* ------------ */

.contact-form {
/*	margin-top: 25px;*/
/*	padding-top: 35px;*/
	align-content: center;
	flex-grow: 1;
	color: #84765d;
}
.contact-form label {
	display:block;
	font-size:1.5em;

}
.contact-form input,
.contact-form textarea {
	margin-bottom:10px;
	font-size: var(--step--2);
	margin-top: 0.5em;
	margin-bottom: 1em;
	width: 14.375em;
	background-color: #fde3b3;
	border: 0;
	padding: 10px;
	padding-right: 10px;
	padding-left: 10px;
	color: #958468 !important;
	border-radius: 15px;
}
.contact-form textarea {
	width:  98%;
	height: 12.5em;
}

#sendbutt {
	border-radius: 15px;
	padding: 10px 10px;
  font-size: var(--step--2);
  font-family: ubuntu,sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffefd2;
  background-color: #725a42;
  border: none;
  box-shadow: 0 5px #999;
}

#sendbutt:hover{
	background-color: #725a42;
}

#sendbutt:active{
	background-color: #725a42;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}