@font-face {
font-family: 'cereal';
src: url("https://raw.githubusercontent.com/rainbowunicornstudio/healtheweb-typeface/main/HealTheWebA-Regular.otf") format("opentype");}
html { font-family: 'cereal', bold; }
@supports (font-variation-settings: bold;) {
	html { font-family: 'cereal', bold; }
}

* {
	font-weight: 600;
}

body {
	margin: 0;
	background: rgb(252,213,255);
	background: #F6F6F2;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 1em;
}
#body{
	color: #86D8DE;
	padding: 1em;
}
#headings {
color: #388087;
text-align: center;
font-size: 50px
}

.alien {
    max-width: 50em;
	margin: auto;
}

.center {
	text-align: center;
	width: 100%;
}

#top {
    font-size: 40px;
    text-align: center;
	color: #000000;
}

#menu ul {
  text-align: center;
  list-style: none;
  display: inline-flex;
  float: none;
  color: #6FB3B8;
}

#menu li {
margin: 0.5em;
padding: 0;
}

ul.a {
  list-style-position: outside;
}
#subhead {
	color: #6FB3B8;
	padding: 0.5em;
}

a {color:#6FB3B8;}         /* Unvisited link  */
a:visited {color:#6FB3B8;} /* Visited link    */
a:hover {color:#6FB3B8;}   /* Mouse over link */
a:active {color:#6FB3B8;}  /* Selected link   */